:root {
    --fundo: #E3C298
}

body {
    margin: 0;
    background: var(--fundo);
}

h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;
    color: #3e3433;
    margin: 32px;
}

.main-game {
    margin: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.genius {
    display: grid;
    grid-template-areas:
        'verde vermelho'
        'amarelo azul';
    grid-gap: 10px;
    /* border: 1px solid white; */
    background-color: var(--fundo);
    border-radius: 100%;
    /* margin: 1%; */
    width: 700px;
    height: 700px;
    margin: 32px;
}

.blue {
    grid-area: azul;
    background-color: blue;
    border-bottom-right-radius: 100%;
}

.red {
    grid-area: vermelho;
    background-color: red;
    border-top-right-radius: 100%;
}

.yellow {
    grid-area: amarelo;
    background-color: yellow;
    border-bottom-left-radius: 100%;
}

.green {
    grid-area: verde;
    background-color: green;
    border-top-left-radius: 100%;
}

footer {
    margin: 16px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

a {
    color: #3e3433;
    text-decoration: none;
}

.selected {
    opacity: 0.4;
}